<div class="ui four centered column grid">
  <div class="colum">
    <div class="app-video">
      <div class="ui card">
        <div class="image">
          <video id="my_video_2" class="video-js vjs-default-skin" controls autoplay preload="auto" width="640" height="268" 
      data-setup='{}'>
            <%= tag("source", { src: @video.url, type: "application/x-mpegURL"}, nil, true) %>
          </video>
          <script>
          </script>
        </div>
        <div class="content left floated">
          <a class="header"><%= @video.name %></a>
          <div class="meta">
            <span class="date">Criado em <%= @video.created_date %></span>
          </div>
          <div class="description">
            visualizações: <%= @video.view %>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            Criado por <%= @video.user.name %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>