
<h3 class="ui center aligned icon header">
  <i class="circular film icon teal"></i>
  <%= @video.name %>
</h3>

<div class="ui divider"></div>

<div class="app-video">
  <div class="ui card">
    <div class="image">
      <video id= "<%= @video_id %>" class="video-js vjs-default-skin" controls play preload="auto" width="640" height="268" data-setup='{}' data-video="<%= @video.id %>">
        <%= tag("source", { src: @video.url, type: "application/x-mpegURL"}, nil, true) %>
      </video>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <script>
      document.getElementById('<%= @video_id %>').addEventListener('play',count_view,false);
        function count_view(e) {
          let video_data = "id=<%= @video.id %>"
          Rails.ajax({
            type: "POST", 
            url: "/add_view",
            data: video_data,
          })
        }
      </script>
    </div>
    <div class="content left floated">
      <a class="header"><%= @video.name %></a>
      <div class="meta">
        <span class="date">Criado em <%= @video.created_date %></span>
      </div>
      <div class="description">
        visualizações: <%= @video.view %>
      </div>
    </div>
    <div class="extra content">
      <i class="user icon teal"></i>
      Criado por <%= link_to @video.user.name, user_path(@video.user) %>
      <span class="right floated">
        <% if current_user == @video.user %>
        <%= link_to edit_video_path(@video) do %>
          <i class="right floated edit icon teal"></i>
          Editar
        <% end %>
      <% end %>
      </a>
    </div>
  </div>
</div>