<div class="ui large menu teal">
  <nav class="ui container">
    <% unless user_signed_in? %>
      <%= link_to 'Home', root_path, class: 'item' %>
    <% else %>
      <%= link_to 'Todos os videos', videos_path, class: 'item' %>
      <%= link_to 'Seus Videos', user_path(current_user), class: 'item' %>
      <%= link_to 'Adicionar video', new_video_path, class: 'item' %>
    <% end %>
    <div class="right menu">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: 'item' do %>
          <i class="user circle icon"></i><%= current_user.name %>
        <% end %>
        <div class="ui dropdown item">
          <i class="cog icon"></i>Menu <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to 'Adicionar video', new_video_path, class: 'item' %>
            <%= link_to 'Editar sua conta', edit_user_registration_path(current_user), class: 'item' %>
          </div>
        </div>
        <%= link_to destroy_user_session_path, method: :delete, class: 'item' do %>
          <i class="sign-out icon"></i> Sair
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: 'item' do %>
          <i class="clipboard outline icon"></i>Cadastro
        <% end %>
        <%= link_to new_user_session_path, class: 'item' do %>
          <i class="sign-in icon"></i>Entrar
        <% end %>
      <% end %>
    </div>
  </nav>
</div>